body,*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  .twitter-container{
  background-color: #1DA1F2;
  min-height: 100vh;
  }
  .twit-container h1{
  text-transform: capitalize;
  }
  .twitter-header{
   background-color:#AAB8C2;
  }
  .navbar-brand {
    width: 40px;
  }
  .twitter-icon{
    width: 100%;
  }
  .twitter-form{
    width: 50% !important;
    margin-right: auto;
    margin-left: auto;
  }
  .twitter-button{
    color: #1DA1F2 !important;
    font-weight: 700 !important;
  }
  .twit-container{
    border: 2px solid black;
    width: 50%;
    font-weight: 700;
    background-color: #F5F8FA;
    margin: 5px auto;
    border-radius: 10px;
    text-align: center;
  }
  .alert-message{
    background-color:#F5F8FA;
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: 600;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    text-transform: capitalize;
  }
  .hidden{
    display: none;
  }
  .show{
    display: block;
  }
  .alert{
      display: none;
  }